{{ define "main" }}
<!-- BANNER -->
{{- if .Params.banner_section.enable }}
{{- with .Params.banner_section }}
<section class="section" id="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center p-5 mb-md-0 zoom" onclick="image_zoom(this)">
                <img class="img-fluid" src="{{ .image | absURL }}"
                    alt='Illustration of {{ .Image | replaceRE ".*?(\\w+).png" "$1" }}'>
            </div>
            <div class="col-md-6 align-self-center text-center text-md-left">
                <div class="block">
                    <h1 class="font-weight-bold mb-4 font-size-60">{{ $.Page.RenderString .title }}</h1>
                    <p class="mb-4">{{ $.Page.RenderString .content }}</p>
                    {{ if .button.enable }}
                    {{ with .button }}
                    <a href="{{.link|absLangURL}}" class="btn btn-main">{{.label}}</a>
                    {{ end }}
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{- end }}
{{- end }}
<!-- /BANNER -->

<!-- CONTENT -->
    <div class="container mb-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center text-md-left mb-5">
                <form name="vpccalc" onsubmit="event.preventDefault();subnetCalculator();" class="row">
                    <input type="hidden" id="type" name="form" value="vpccalc">
                    <div class="col-lg-6 mb-3">
                    <input type="text" class="form-control mb-2 text-md-center" id="ip_range" name="ip_range" pattern="^((25[0-5]|(2[0-4]|1\d|[1-9]|)\d)\.?\b){4}\/([8-9]|1[0-9]|2[0-8])$" placeholder='IPv4 Network Range' required>
                    </div>
                    <div class="col-lg-6 mb-3">
                    <input type="text" class="form-control mb-2 text-md-center" id="subnet_cidrs" name="subnet_cidrs" pattern="^\/?(1[6-9]|2[0-8])(,\/?(1[6-9]|2[0-8]))*$" placeholder='IPv4 CIDR block(s)' required>
                    </div>
                    <div class="col-12 align-self-center text-center mt-3 mb-5">
                    <button type="submit" value="send" class="btn btn-main" onclick="subnetCalculatorValidate();">Calculate</button>
                    <noscript><br><br><font color=red>JavaScript must be enabled for this subnet calculator</font></noscript>
                    </div>
                </form>
            </div>
            <div class="col-lg-10 text-center text-md-left mb-5">
                <div class="container markdown">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
<!-- /CONTENT -->

{{ end }}