{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row justify-content-center text-center text-md-left">
      {{ with .Params.contact }}
      <div class="col-lg-5 col-sm-6 mb-5">
        <h2 class="font-weight-bold mb-4">{{ $.Page.RenderString .title }}</h2>
        <p>{{ $.Page.RenderString .content }}</p>
        <br>
        <ul class="list-unstyled contact-list">
          {{with .phone}} <li class="mb-3"><a href="tel:{{ . }}"><i class="fas fa-phone mr-3"></i>{{ . }}</a></li>{{ end }}
          {{with .email}} <li class="mb-3"><a href="mailto:{{ . }}"><i class="fas fa-envelope mr-3"></i>{{ . }}</a></li>{{end }}
          {{with .location }} <li class="mb-3"><i class="fas fa-map-marked-alt mr-3"></i>{{ . }}</li>{{ end }}
        </ul>
      </div>
      {{ end }}
      <div class="col-lg-3 col-sm-6 mb-5">
        {{ with .Params.contact }}
        <img class="img-fluid w-100" src="{{ .Image | absURL }}" alt='Illustration of {{ .Image | replaceRE ".*?([\\w-]+).png" "$1" }}'>
        {{ end }}
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8">
        {{/* add translation support for iframe after zoho one trial */}}
        <iframe scrolling="no" frameborder="0" class="inline-iframe" src='{{ site.Params.contact_form_url }}'></iframe>
      </div>
    </div>
  </div>
</section>

{{ end }}