<!DOCTYPE html>
<html lang="{{ with site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
{{- partial "head.html" . -}}

<body id="body">
	<div class="zoom-blur"></div>
	{{- partial "preloader.html" . -}}
	{{- partial "header.html" . -}}
	{{- block "main" . }}{{- end }}
	{{- partial "footer.html" . -}}
	{{ block "page-script" . }}
	<script>
		// function to copy content to clipboard and display message
		function copy(){
			var $temp = $("<input>");
			$("body").append($temp);
			$temp.val($(".copy").text()).select();
			document.execCommand("copy");
			$temp.remove();

			$(".alert").show();
			$(".alert").delay(2000).slideUp(200, function() {
				$(this).hide();
			});
		}

		// function to cancel image zoom
		function cancel_zoom(){
			window.removeEventListener('scroll', cancel_zoom);
			$(".zoomed").removeClass("zoomed");
			$(".zoom-blur").toggle();
		}

		// function to image zoom
		function image_zoom(element){
			if (!element.classList.contains("zoomed")){
				$(".zoomed").removeClass("zoomed");
			}
			element.classList.toggle('zoomed');
			$(".zoom-blur").toggle();

			setTimeout(function(){
				if (element.classList.contains("zoomed")){
					window.addEventListener('scroll', cancel_zoom, false)
				}else{
					window.removeEventListener('scroll', cancel_zoom);
				}
			}, 100);
		}
		
		// function to overwrite language preference
		function update_language_pref(lang){
			localStorage.setItem('lang', lang);
		}

		// determine the language preference for the user
		var currentLang = "{{ .Site.Language.Lang }}";
		var userLang = navigator.language || navigator.userLanguage;
		var supportedLang = ["de", "en"];
		userLang = userLang.substring(0, 2);
		userLangPref = localStorage.getItem('lang');
		if (userLangPref && supportedLang.includes(userLangPref)){
			if (currentLang !== userLangPref){
				window.location.href = "/" + userLangPref;
			}
		}else{
			localStorage.setItem('lang', userLang);
			window.location.href = "/" + userLang;
		}

		// append open in new tab to links which point outside
		$(document.links).filter(function() {
			return this.hostname != window.location.hostname;
		}).attr('target', '_blank');
		
		// cookie consent banner
		window.cookieconsent.initialise({
		palette: {
			popup: {
				background: "#2b3346",
				text: "#ffffff"
			},
			button: {
				background: "#3fa7df",
				text: "#ffffff"
			}
		},
		content: {
			message: '{{ i18n "cookie_message" }}',
			dismiss: '{{ i18n "close" }}',
			link: '{{ i18n "cookie_policy" }}',
			href: '{{ "/privacy-policy/#51-cookies" | relLangURL }}',
			target: null
		},
		theme: "edgeless",
		type: "info"
		});
	</script>
	{{ end }}
</body>

</html>
