<!DOCTYPE html>
<html lang="{{ with site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
{{- partial "head.html" . -}}

<body id="body">
	<div class="zoom-blur"></div>
	<div id="snow"></div>
	{{- partial "preloader.html" . -}}
	{{- partial "header.html" . -}}
	{{- block "main" . }}{{- end }}
	{{- partial "footer.html" . -}}
	{{ block "page-script" . }}
	<script>
		// in december (11) let it snow on landing page
		document.addEventListener('DOMContentLoaded', function () {
			const d = new Date();
			let month = d.getMonth();
			if (month == 11) {
				// let it snow
				$("#snow").toggle();
				new Snow('#snow', {
					number: 50,
					r: 5,
					v: 0.8
				});
			}
		});

		// function to copy content to clipboard and display message
		function copy_url(url) {
			var $temp = $("<input>");
			$("body").append($temp);
			$temp.val(url).select();
			document.execCommand("copy");
			$temp.remove();
			// display alert message
			$(".alert").show();
			$(".alert").delay(2000).slideUp(200, function () {
				$(this).hide();
			});
		}

		// function to cancel image zoom
		function cancel_zoom() {
			window.removeEventListener('scroll', cancel_zoom);
			let zoomed_img = document.getElementById("zoomed-image")
			if (zoomed_img) {
				zoomed_img.classList.add("img-max-400");
				zoomed_img.removeAttribute("id");
			}
			$(".zoomed").removeClass("zoomed");
			$(".zoom-blur").toggle();
		}

		// function to image zoom
		function image_zoom(element) {
			let zoomed_img = element.firstElementChild;
			if (zoomed_img && zoomed_img.id == "zoomed-image") {
				zoomed_img.classList.add("img-max-400");
				zoomed_img.removeAttribute("id");
			} else if (zoomed_img.classList.contains("img-max-400")) {
				zoomed_img.classList.remove("img-max-400");
				zoomed_img.setAttribute("id", "zoomed-image");
			}
			if (!element.classList.contains("zoomed")) {
				$(".zoomed").removeClass("zoomed");
			}
			element.classList.toggle('zoomed');
			$(".zoom-blur").toggle();

			setTimeout(function () {
				if (element.classList.contains("zoomed")) {
					window.addEventListener('scroll', cancel_zoom, false)
				} else {
					window.removeEventListener('scroll', cancel_zoom);
				}
			}, 100);
		}

		// function to redirect to subpage
		function redirect(url) {
			window.location.href = url;
		}

		// function to overwrite language preference
		function update_language_pref(lang) {
			localStorage.setItem('lang', lang);
		}

		function uri_translate(uri, lang_now, lang_new) {
			var relocate_uri = uri;
			// english webpage doesn't include prefix in uri
			if (lang_now !== "en") {
				// remove language prefix from uri
				var uri_arr = uri.split('/');
				if (uri_arr[1] === lang_now) {
					uri_arr.splice(1, 1);
					relocate_uri = uri_arr.join('/');
				} else {
					// fail-safe in case uri language prefix could not be removed -> redirect to home
					relocate_uri = "/"
				}
			}
			// add new language prefix to url
			if (lang_new !== "en") {
				relocate_uri = "/" + lang_new + relocate_uri;
			}

			return relocate_uri;
		}

		// function to copy subnet to clipboard
		function copy_subnet(subnet, id) {
			var $temp = $("<input>");
			$("body").append($temp);
			element = document.getElementById(id);
			$temp.val(subnet).select();
			document.execCommand("copy");
			$temp.remove();
			element.classList.add("fa-solid");
		}

		// function to add custom validation message for network ranges and cidr blocks
		function subnetCalculatorValidate() {
			const ip_range = document.getElementById('ip_range');
			const subnet_cidrs = document.getElementById('subnet_cidrs');

			if(ip_range.validity.patternMismatch){
				ip_range.setCustomValidity('Value must be valid IPv4 network range (e.g. 172.31.0.0/16) and CIDR block must be between 8 and 28');
			}else{
				ip_range.setCustomValidity('');
			}
			if(subnet_cidrs.validity.patternMismatch){
				subnet_cidrs.setCustomValidity('Values can be comma(,) separated and each value must be between 16 and 28');
			}else{
				subnet_cidrs.setCustomValidity('');
			}
		}

		// function to calculate subnets based on network range and cidr blocks
		function subnetCalculator() {
			let status = "successfull";
			// get supernet/major network range from input
			let supernet = document.getElementById("ip_range").value;
			// calculate info of supernet
			let supernet_network = supernet.split("/")[0]
			let supernet_cidr = supernet.split("/")[1]
			let supernet_ips = 2**(32-supernet_cidr)
			// get cidr blocks from input
			let tmp = document.getElementById("subnet_cidrs").value;
			let subnet_cidrs = tmp.replace("/", "").split(",").sort()
			// define subnet placeholder variables
			var subnets_calculated = []
			var subnet_count = 0
			var subnet_ips_sum = 0
			// if a single cidr block in list then divide network equally
			if (subnet_cidrs.length == 1) {
				prefix_length = subnet_cidrs[0]
				prefix_count = 2**(Math.max(prefix_length-supernet_cidr, 0))
				subnet_cidrs = Array(prefix_count).fill(prefix_length)
			}
			// set initial network iteration
			current_network = supernet_network
			subnet_count = subnet_cidrs.length
			// get subnet table to dynamically append with calculation results
			var table = document.getElementsByClassName("subnet-table")[0]
			// delete existing subnet table content
			$(".subnet-table td").remove();
			// loop for every subnet and calculate network address
			for (var i = 0, subnet_cidr; subnet_cidr = subnet_cidrs[i++];) {
				subnet_ips = 2**(32-subnet_cidr)
				subnet = current_network+"/"+subnet_cidr
				subnets_calculated.push(subnet)
				// update current network iteration
				current_subnet_decimal = IpSubnetCalculator.toDecimal(current_network);
				current_subnet_decimal += subnet_ips
				current_network = IpSubnetCalculator.toString(current_subnet_decimal)
				subnet_ips_sum += subnet_ips
				// generate new table row
				var row = table.insertRow(-1);
				var cell1 = row.insertCell(0);
				var cell2 = row.insertCell(1);
				// generate cell content
				copy_id = "copy-subnet" + i
				copy_icon = "<i id='"+copy_id+"' class='fa-regular fa-copy'></i>";
				copy_html = "<span class='copy-table-cell' onclick='copy_subnet(\""+subnet+"\", \""+copy_id+"\");'>"+copy_icon+"</span>";
				subnet_cell = subnet + copy_html;
				cell1.innerHTML = subnet_cell
				cell2.innerHTML = 2**(32-subnet_cidr)-5;
				if (subnet_ips_sum > supernet_ips) {
					cell1.style.color = "Red";
					cell2.style.color = "Red";
				}
			}
			// enable subnet calculation stats
			document.getElementById("subnet_stats").hidden = false;
			// check if address space was oversubscribed
			if (subnet_ips_sum > supernet_ips) {
				status = "not successull";
				document.getElementById("subnet_stats_status").style.color = "Red";
				document.getElementById("subnet_stats_usage").style.color = "Red";
			} else {
				status = "successull";
				document.getElementById("subnet_stats_status").style.color = "ForestGreen";
				document.getElementById("subnet_stats_usage").style.color = "ForestGreen";
			}
			// enable and update subnet calculator stats
			subnet_stats_count = document.getElementById("subnet_stats_count") ;
			subnet_stats_count.innerHTML = subnet_count;
			subnet_stats_status = document.getElementById("subnet_stats_status");
			subnet_stats_status.innerHTML = status;
			subnet_stats_usage = document.getElementById("subnet_stats_usage");
			subnet_stats_usage.innerHTML = Math.round(subnet_ips_sum/supernet_ips*100);
		}

		// determine the language preference for the user
		var pageLang = "{{ .Site.Language.Lang }}";
		// get browser language as shortcode - example: de_ch -> de
		var browserLang = navigator.language || navigator.userLanguage;
		browserLang = browserLang.substring(0, 2);
		// get supported languages from hugo
		var supportedLang = "{{ .Site.Languages }}".match(/\[(.*?)\]/)[1].split(" ");
		// get base url and uri
		var base_url = "{{ .Site.BaseURL }}".replace(/\/$/, "");
		var uri = "{{ .Permalink | relURL }}";
		// try to read language preference from local storage and check if supported
		userLangPref = localStorage.getItem('lang');
		if (userLangPref && supportedLang.includes(userLangPref)) {
			// switch language if current language is not same as preference
			if (pageLang !== userLangPref) {
				// translate uri before redirecting - example: /de/contact -> /contact
				relocate_uri = uri_translate(uri, lang_now = pageLang, lang_new = userLangPref);
				window.location.href = base_url + relocate_uri;
			}
		} else {
			// set language to english if browser language not supported
			if (!supportedLang.includes(browserLang)) {
				browserLang = "en";
			}
			// save language preference to local storage
			localStorage.setItem('lang', browserLang);
			if (localStorage.getItem('lang') === browserLang && pageLang !== browserLang) {
				// translate uri before redirecting - example: /contact -> /de/contact
				relocate_uri = uri_translate(uri, lang_now = pageLang, lang_new = browserLang);
				window.location.href = base_url + relocate_uri;
			}
		}

		// append open in new tab to links which are external
		$(document.links).filter(function () {
			return this.hostname != window.location.hostname;
		}).attr('target', '_blank');

		// cookie consent banner
		window.cookieconsent.initialise({
			palette: {
				popup: {
					background: "#2b3346",
					text: "#ffffff"
				},
				button: {
					background: "#3fa7df",
					text: "#ffffff"
				}
			},
			content: {
				message: '{{ i18n "cookie_message" }}',
				dismiss: '{{ i18n "close" }}',
				link: '{{ i18n "cookie_policy" }}',
				href: '{{ "/privacy-policy/#51-cookies" | relLangURL }}',
				target: null
			},
			theme: "edgeless",
			type: "info"
		});
	</script>
	{{ end }}
</body>

</html>