body, html {
    height: 100%;
}

.construction {
    background-image: url("/img/construction.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #1C83BA;
    height: 100%;
}