{{ $data := index .Site.Data .Site.Language.Lang }}

{{- if $data.homepage.customers.enable }}
<section class="gallery" id="customers">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading">
                    {{- with $data.homepage.customers }}
                    <h2>
                        {{ $.Page.RenderString .title }}
                        <a href="{{ .link | absLangURL }}">
                            <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        </a>
                    </h2>
                    {{ end }}
                </div>

                <div class="product-slider">
                    {{ range (where .Site.RegularPages "Section" "customers") }}
                    <div class="block ml-3 mr-3" onclick='redirect("{{ .Permalink }}")'>
                        <div class="gallery-overlay">
                            <a href="{{ .Permalink }}" class="gallery-popup">
                                <i class="fas fa-plus"></i>
                            </a>
                        </div>
                        <img class="customer-logo img-fluid" src="{{ .Params.image | absURL }}"
                            alt='{{ .Params.image | replaceRE ".*?([\\w-]+).(png|svg)" "$1" }} logo'>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}