{{ $data := index .Site.Data .Site.Language.Lang }}

{{- if $data.homepage.newsletter.enable }}
{{- with $data.homepage.newsletter }}
<section class="call-to-action section bg-opacity" style="background-image: url('{{ .bg_image | absURL }}');">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 text-center mx-auto p-5 newsletter">
        <h2 class="subheading text-white">{{ .title | markdownify }}</h2>
        <p class="text-white">{{ .content | markdownify }}</p>
        <div class="input-group">
          <form action="{{ site.Params.contact_form_action }}" method="POST" class="w-100" name="mc-embedded-subscribe-form">
            <input type="hidden" id="type" name="form" value="newsletter">
            <input type="email" id="email" class="form-control" name="email" placeholder="{{ .placeholder }}" required>
            <button class="btn btn-main btn-submit" type="submit">{{i18n "subscribe"}}</button>
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" tabindex="-1">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{{- end }}
{{- end }}
