{{ $data := index .Site.Data .Site.Language.Lang }}

{{- if $data.homepage.newsletter.enable }}
{{- with $data.homepage.newsletter }}
<section class="call-to-action section bg-opacity" style="background-image: url('{{ .bg_image | absURL }}');">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 text-center mx-auto p-5 newsletter">
        <h2 class="subheading text-white">{{ $.Page.RenderString .title }}</h2>
        <p class="text-white">{{ $.Page.RenderString .content }}</p>
        <div class="input-group">
          {{/*  add zoho iframe form for newsletter subscription  */}}
        </div>
      </div>
    </div>
  </div>
</section>
{{- end }}
{{- end }}
