{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.homepage.services.enable }}
{{ with $data.homepage.services }}
<section class="feature-list section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{ if .title }}
        <div class="heading">
          <h2>{{ $.Page.RenderString .title }}</h2>
        </div>
        {{ end }}
      </div>
    </div>
    {{ range $index, $element := (where .items "enable" true) }}
    {{- if (mod $index 2) }}
    <div class="row item-row">
      <div class="col-md-6 text-center p-md-7 p-5 mb-lg-0 zoom">
        <img class="img-fluid img-max-400" src="{{ .image | absURL }}" alt='Illustration of {{ .image | replaceRE ".*?([\\w-]+).png" "$1" }} service'>
      </div>
      <div class="col-md-6 align-self-center text-center text-md-left">
        <div class="content">
          <h4 class="subheading">{{ $.Page.RenderString .title }}</h4>
          <p>{{ $.Page.RenderString .content }}</p>
          {{ if .link.enable }}
          {{ with .link }}
          <p><a href="{{ .link | absLangURL }}" class="link-primary">{{ .label }}</a></p>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
    {{- else }}
    <div class="row item-row">
      <div class="col-md-6 order-md-1 order-2 align-self-center text-center text-md-left">
        <div class="content">
          <h4 class="subheading">{{ $.Page.RenderString .title }}</h4>
          <p>{{ $.Page.RenderString .content }}</p>
          {{ if .link.enable }}
          {{ with .link }}
          <p><a href="{{ .link | absLangURL }}" class="link-primary">{{ .label }}</a></p>
          {{ end }}
          {{ end }}
        </div>
      </div>
      <div class="col-md-6 order-md-2 order-1 text-center p-5 mb-lg-0 zoom">
        <img class="img-fluid img-max-400" src="{{ .image | absURL }}" alt='Illustration of {{ .image | replaceRE ".*?([\\w-]+).png" "$1" }} service'>
      </div>
    </div>
    {{ end }}
    {{ end }}
  </div>
</section>
{{ end }}
{{ end }}
