{{ define "main" }}

<!-- BANNER -->
{{- if .Params.banner_section.enable }}
{{- with .Params.banner_section }}
<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-6 text-center p-4 mb-md-0 zoom" onclick="image_zoom(this)">
				<img class="img-fluid" src="{{ .image | absURL }}" alt='Illustration of {{ .Image | replaceRE ".*?(\\w+).png" "$1" }}'>
			</div>
			<div class="col-md-6 align-self-center text-center text-md-left">
				<div class="block">
					<h1 class="font-weight-bold mb-4 font-size-60">{{ $.Page.RenderString .title }}</h1>
					<p class="mb-4">{{ $.Page.RenderString .content }}</p>
					{{ if .button.enable }}
					{{ with .button }}
					<a href="{{.link|absLangURL}}" class="btn btn-main">{{.label}}</a>
					{{ end }}
					{{ end }}
				</div>
			</div>
		</div>
	</div>
</section>
{{- end }}
{{- end }}

<!-- DESCRIPTION -->
{{- if .Params.detail_section.enable }}
<section class="section gallery">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-5">
        {{ with .Params.detail_section }}
        <h1 class="font-weight-bold">{{ $.Page.RenderString .title }}</h1>
        {{ end }}
      </div>

      <div class="content">{{ $.Page.RenderString .Content }}</div>
    </div>
  </div>
</section>
{{- end }}

<!-- TILES -->
{{- if .Params.tile_section.enable }}
{{- with .Params.tile_section }}
<section class="section mb-40" id="prices">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-12 text-center">
              <div class="heading">
                  <h2 class="subheading">{{ $.Page.RenderString .title }}</h2>
              </div>
          </div>
          {{ range .list }}
          {{ if .enable }}
          <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0 mb-40 text-center">
              <div class="card rounded shadow border-0 mb-30">
                  <div class="card-body height-350 p-30 text-left">
                      <h4 class="h4 font-weight-bold mt-15 pb-10">{{ $.Page.RenderString .title }}</h4>
                      <div class="block">
                        <p class="mb-4">{{ $.Page.RenderString .content }}</p>
                        {{ if .button.enable }}
                        {{ with .button }}
                        <a href="{{ .link | absLangURL }}" class="btn btn-main">{{.label}}</a>
                        {{ end }}
                        {{ end }}
                      </div>
                  </div>
              </div>
          </div>
          {{ end }}
          {{ end }}
      </div>
  </div>
</section>
{{- end }}
{{- end }}


<!-- EXCERPTS -->
{{ if .Params.excerpt_section.enable }}
{{ with .Params.excerpt_section }}
<section class="feature-list section pt-0">
  <div class="container">
    <div class="col-12 text-center">
      <div class="heading">
          <h2>{{ $.Page.RenderString .title }}</h2>
      </div>
    </div>
    {{range $index, $element := (where .list "enable" true) }}
    {{- if (mod $index 2) }}
    <div class="row item-row">
      <div class="col-md-6 text-center p-4 mb-lg-0 zoom" onclick="image_zoom(this)">
        <img class="img-fluid" src="{{ .image | absURL }}" alt='Illustration of {{ .Image | replaceRE ".*?(\\w+).png" "$1" }}'>
      </div>
      <div class="col-md-6 align-self-center text-center text-md-left">
        <div class="content">
          {{ if .title }}
          <h4 class="subheading">{{ $.Page.RenderString .title }}</h4>
          {{ end }}
          {{ if .title_aws }}
          <h4 class="subheading mt--20 color-aws">{{ $.Page.RenderString .title_aws }}</h4>
          {{ end }}
          {{ if .title_azure }}
          <h4 class="subheading mt--20 color-azure">{{ $.Page.RenderString .title_azure }}</h4>
          {{ end }}
          <p class="md">{{ $.Page.RenderString .content }}</p>
          {{ if .button.enable }}
          {{ with .button }}
          <p><a href="{{ .link | absLangURL }}" class="link-primary">{{ .label }}</a></p>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
    {{- else }}
    <div class="row item-row">
      <div class="col-md-6 order-md-1 order-2 align-self-center text-center text-md-left">
        <div class="content">
          {{ if .title }}
          <h4 class="subheading">{{ $.Page.RenderString .title }}</h4>
          {{ end }}
          {{ if .title_aws }}
          <h4 class="subheading mt--20 color-aws">{{ $.Page.RenderString .title_aws }}</h4>
          {{ end }}
          {{ if .title_azure }}
          <h4 class="subheading mt--20 color-azure">{{ $.Page.RenderString .title_azure }}</h4>
          {{ end }}
          <p class="md">{{ $.Page.RenderString .content }}</p>
          {{ if .button.enable }}
          {{ with .button }}
          <p><a href="{{ .link | absLangURL }}" class="link-primary">{{ .label }}</a></p>
          {{ end }}
          {{ end }}
        </div>
      </div>
      <div class="col-md-6 order-md-2 order-1 text-center p-4 mb-lg-0 zoom" onclick="image_zoom(this)">
        <img class="img-fluid" src="{{ .image | absURL }}" alt='Illustration of {{ .Image | replaceRE ".*?(\\w+).png" "$1" }}'>
      </div>
    </div>
    {{ end }}
    {{ end }}
  </div>
</section>
{{ end }}
{{ end }}


{{ end }}
