{{ define "main" }}
<!-- BANNER -->
{{- if .Params.banner_section.enable }}
{{- with .Params.banner_section }}
<section class="section" id="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center p-5 mb-md-0 zoom" onclick="image_zoom(this)">
                <img class="img-fluid" src="{{ .image | absURL }}"
                    alt='Illustration of {{ .Image | replaceRE ".*?(\\w+).png" "$1" }}'>
            </div>
            <div class="col-md-6 align-self-center text-center text-md-left">
                <div class="block">
                    <h1 class="font-weight-bold mb-4 font-size-60">{{ $.Page.RenderString .title }}</h1>
                    <p class="mb-4">{{ $.Page.RenderString .content }}</p>
                    {{ if .button.enable }}
                    {{ with .button }}
                    <a href="{{.link|absLangURL}}" class="btn btn-main">{{.label}}</a>
                    {{ end }}
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{- end }}
{{- end }}
<!-- /BANNER -->

<!-- CONTENT -->
    <div class="container mb-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center text-md-center mb-3">
                <noscript><br><br><font color=red size="4">JavaScript must be enabled for this subnet calculator</font></noscript>
                <p id="validation_message" class="color-red"></p>
            </div>
            <div class="col-lg-10 text-center text-md-center mb-5">
                <form name="vpccalc" onsubmit="event.preventDefault();subnetCalculator();" class="row">
                    <input type="hidden" id="type" name="form" value="vpccalc">
                    <div class="col-lg-6 mb-3">
                        <input type="text" class="form-control mb-2 text-md-center" id="ip_range" name="ip_range" oninput="clearValidate()" placeholder='IPv4 Network Range'>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <input type="text" class="form-control mb-2 text-md-center" id="subnet_cidrs" name="subnet_cidrs" oninput="clearValidate()" placeholder='IPv4 CIDR block(s)'>
                    </div>
                    <div class="col-12 align-self-center text-md-center mt-3">
                        <button type="button" class="btn btn-main btn-reset mr-3 mb-4" style="min-width:190px;" onclick="resetCalculator();">{{ i18n "reset" }}</button>
                        <button type="submit" value="send" class="btn btn-main mr-3 mb-4" style="min-width:190px;" onclick="return subnetCalculatorValidate();">{{ i18n "calculate" }}</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-10 text-center text-md-left mb-5">
                <div class="container markdown">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
<!-- /CONTENT -->

{{ end }}